<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- This tag helps the browser render the page correctly on different devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/left-side-bar.css" />
    <link rel="stylesheet" href="../static/css/preview.css" />
    <link rel="stylesheet" href="../static/css/AboutMe.css" />
    <link rel="stylesheet" href="../static/css/ContactMe.css" />
    <!-- fonts Awesome all icons name: https://kapeli.com/cheat_sheets/Font_Awesome.docset/Contents/Resources/Documents/index -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/regular.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/svg-with-js.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/v4-font-face.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/v4-shims.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/v5-font-face.min.css"
    />
    <title>Hassanein Sharaf Al Dein</title>
  </head>
  <body>
    <nav class="leftside">
      <button class="barsbtn" id="bars">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <div class="info">
        <button class="personal" id="user">
          <i class="fa fa-user fa-lg"></i>
          <div>About Me</div>
        </button>
        <button class="call" id="contact">
          <i class="fa fa-phone fa-lg"></i>
          <div>Contact</div>
        </button>
        <button class="createPost"><i class="fa fa-pen fa-lg"></i></button>
        <button class="Job"><i class="fa fa-briefcase fa-lg"></i></button>
        <button class="incognition"><i class="fa fa-glasses fa-lg"></i></button>
      </div>
      <button class="download" id="download">
        <i class="fa fa-cloud-download-alt fa-lg"></i>
        <div>CV</div>
      </button>
    </nav>

    <div class="top-bar">
      <img src="../static/images/PPUphone.png" alt="image" />
      <div class="namesmall">Hassanein Sharaf Al Dein</div>
      <button class="barsbtnsmall" id="barssmall">
        <i class="fa fa-bars fa-lg"></i>
      </button>
    </div>

    <div class="preview">
      <div class="text">
        <div class="info">
          <div class="name">Hassanein Sharaf Al Dein</div>
          <div class="industry">Full Stack Developer</div>
        </div>
        <div class="links">
          <a
            href="https://www.facebook.com/profile.php?id=100015606619236&extid=LQQJ4d"
            class="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa fa-facebook"></i>
          </a>
          <a
            href="https://www.instagram.com/hassanein_sharafaldein"
            class="instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a
            href="https://www.github.com/Hassanein20"
            class="github"
            target="_blank"
            ><i class="fa fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/hassanein-sharafaldein"
            class="linkedin"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="displayfixed">
      <div class="AboutMe content" id="AboutMe">
        <h1 class="aboutmet">About Me</h1>
        <p class="aboutmep">
          At Lebanese International University, my pursuit of Communication
          Engineering degree is more than academic, it's a launchpad into the
          thrilling word of cybersecurity. My hands-on experience in Capture The
          Flag and Bug Hunting competitions has sparked a fervor for Offensive
          Cyber Security. I'am on the lookout for mentorship and opportunities
          to refine my skills and carve out a niche as a Cybersecurity
          Consultant. Let's connect and craft the future of digital security
          together.
        </p>
        <div class="align">
          <div class="horizontal-line"></div>
        </div>
        <h2 class="whatIDot">What I Do</h2>
        <div class="whatIDo">
          <div class="Network">
            <div class="iconn"><i class="fa fa-eye fa-2x"></i></div>
            <h3 class="titlen">Network Testing</h3>
            <p class="desn">
              Testing a network as a black hat hacker to see if there any
              vulnerability in it.
            </p>
          </div>
          <div class="CTF">
            <div class="iconc"><i class="fa fa-flag fa-2x"></i></div>
            <h3 class="titlec">Capture The Flag</h3>
            <p class="desc">
              I Love participating in CTF challenges, and Solving CTF labs in
              Hack the Box.
            </p>
          </div>
          <div class="Web">
            <div class="iconw"><i class="fa fa-bug fa-2x"></i></div>
            <h3 class="titlew">Bug Hunting</h3>
            <p class="desw">
              Researching for various web security bugs that are well known in
              OWASP.
            </p>
          </div>
        </div>
      </div>

      <div class="ContactMe content" id="ContactMe">
        <h1 class="title">Contact Me</h1>
        <div class="contact">
          <div class="location">
            <div class="iconl"><i class="fa fa-map-marker-alt fa-2x"></i></div>
            <div class="country">Beirut, Lebanon</div>
          </div>
          <div class="email">
            <div class="icone"><i class="fa fa-envelope fa-2x"></i></div>
            <div class="address">hasanein104@gmail.com</div>
          </div>
        </div>

        <div class="HICHY">
          <div class="line"></div>

          <div class="titleh">How I can Help You?</div>
          <form class="form" action="http://localhost:8080/">
            <div class="inputs">
              <input type="text" class="namec" placeholder="Full Name" />
              <input type="text" class="emailin" placeholder="Email Address" />
              <input type="text" class="subject" placeholder="Subject" />
            </div>
            <textarea class="message" placeholder="Message"></textarea>
            <button id="submit" class="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../static/javascript/sb.js"></script>
  </body>
</html>
